<div id="cc-modal-mask" class="m-open">
  <div id="cc-modal" class="issue-detail">
    <div id="modal-content" class="col-md-12">
      <!-- 表单开始 -->
      <form role="form" action="/forge-table/changeInformationUpload" method="GET">
        <div class="row">
          <div id="issue-header" class="col-md-12">
            <div id="issue-head" class="col-md-10 col-xs-9 nopadding">
              <h3><i class="fa fa-address-book-o"> #160</i> {{userChineseName}}</h3>
              <div id="issue-metadata">
                <div>
                  <div class="issue-rulename"><i class="fa fa-check-square-o"></i> 录入信息</div>
                  <div class="issue-assignedto fa fa-check-square-o">
                    <span>创建人：{{userChineseName}}</span>
                  </div>
                </div>
                <div id="issue-labels">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4><i class="fa fa-wpforms"></i> 描述</h4>
            <div class="form-group">
              <label for="name">对此事件描述</label>
              <textarea class="form-control" name="issueDescribe" rows="5" v-model="isTips"></textarea>
              <span style="color: red;">{{tipsShow}}</span>
            </div>
            <p class="issue-description"></p>
          </div>
          <div class="col-md-4">
            <h4><i class="fa fa-newspaper-o"></i> 细节</h4>
            <table class="issue-detail">
              <tbody>
                <tr>
                  <td>状态</td>
                  <td>
                    <select class="form-control input-md" name="issueStatus">
                      <option value="新任务">新任务</option>
                      <option value="需要修改">需要修改</option>
                      <option value="审核完成">审核完成</option>
                      <option value="审定完成">审定完成</option>
                    </select>
                  </td>

                </tr>
                <tr>
                  <td>优先级:</td>
                  <td>
                    <select class="form-control input-md" name="issuePriority">
                      <option value="正常">正常</option>
                      <option value="紧急">紧急</option>
                      <option value="主要">主要</option>
                      <option value="次要">次要</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>到期时间:</td>
                  <!-- autocomplete="off"不显示保存记录 -->
                  <td><input autocomplete="off" type="text" class="form-control" name="dueDate" id="due_Date" v-model="isdueDate"></td>
                  <td style="color:red">{{dueDateShow}}</td>
                </tr>
                <tr>
                  <td>类型:</td>
                  <td>
                    <select class="form-control input-md" name="issueType">
                      <option value="事务">事务</option>
                      <option value="错误">错误</option>
                      <option value="差异">差异</option>
                      <option value="需求">需求</option>
                      <option value="询问">询问</option>
                      <option value="评论">评论</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>发起人:</td>
                  <td><input type="text" class="form-control" placeholder="创建人" name="creatorMan"
                      v-model="iscreatorMan">
                  </td>
                  <td style="color:red">{{creatorManShow}}</td>
                </tr>
                <tr>
                  <td>
                    创建时间:
                  </td>
                  <td><input autocomplete="off" type="text" class="form-control" name="dataCreate" id="date_create" v-model="isdataCreate"></td>
                  <td style="color:red">{{dataCreateShow}}</td>
                </tr>
                <tr>
                  <td>分配给:</td>
                  <td><input type="text" class="form-control" placeholder="分配给..." name="assignToWho"
                      v-model="IsassignToWho">
                  </td>
                  <td style="color:red">{{assignToWhoShow}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- datetimepicker -->

          <!-- </i>后面跟字即可显示 -->
          <div class="col-md-4">
            <h4><i class="fa fa-paperclip"></i> 附件</h4>

            <!-- action：表示当前表单中的内容提交给哪个页面进行处理 -->
            <p>
              <input type="file" id="user-file-upload" name="uploadFile">
            </p>
            <!-- <p class="help-block">待上传文件: <span id="user-get-filename" style="color:red"></span></p> -->
            <button :type="isDisable" class="btn btn-primary" v-on:click="submitExcel">提交</button>
          </div>
        </div>

        <div id="issue-comments-section" class="row">
          <div class="col-md-6 col-xs-12">
            <h4><i class="fa fa-commenting-o"></i> 讨论</h4>
            <div class="form-group">
              <label for="name">对此事件讨论</label>
              <textarea class="form-control" rows="3" name="issueTalk" v-model="IsissueTalk"></textarea>
              <span style="color: red;">{{issueTalkShow}}</span>
            </div>
          </div>
        </div>
      </form>
      <!-- 表单结束 -->

      <div id="full-img-container" style="display:none; position:relative">
        <img src="#">
        <a href="#" id="close-enlarged"><i class="fa fa-compress"></i></a>
      </div>

      <div id="issue-history-container" style="display:none; position:relative">

      </div>
    </div>
    <a id="close-modal" title="Close" data-detailmodal="close">
      <i class="fa fa-window-close"></i>
    </a>
  </div>
</div>
<!-- <script>
  $(function () {
    var
      fileInput = document.getElementById('user-file-upload'),
      filePath = document.getElementById('user-get-filename');
    fileInput.addEventListener('change', function () {
      filePath.innerText = fileInput.value;
    });
  });
</script> -->

<script>
  $(function () {
    var logic = function (currentDateTime) {
      if (currentDateTime.getDay() == 6) {
        this.setOptions({
          minTime: '11:00'
        });
      } else
        this.setOptions({
          minTime: '8:00'
        });
    };
    $('#due_Date').datetimepicker({
      onChangeDateTime: logic,
      onShow: logic
    });
    $('#date_create').datetimepicker({
      onChangeDateTime: logic,
      onShow: logic
    });
  })

</script>


<script>
  var forge_modal = new Vue({
    el: '#modal-content',
    data: {
      isTips: '',
      tipsShow: '请填写该项',
      userChineseName: decodeURI(decodeURI(document.cookie.match(/username=(\S*);/)[1])),
      issueTalkShow: '请填写该项',
      IsissueTalk: '',
      dueDateShow: '请填写到期时间',
      isdueDate: '',
      isdataCreate: '',
      dataCreateShow: '请填写创建时间',
      creatorManShow: '请填写该项',
      iscreatorMan: '',
      assignToWhoShow: '请填写该项',
      IsassignToWho: '',
    },
    watch: {
      isTips: function (isTips) {
        this.tipsShow = isTips ? '' : '请填写该项';
      },
      IsissueTalk: function (IsissueTalk) {
        this.issueTalkShow = IsissueTalk ? '' : '请填写该项';
      },
      isdueDate: function (isdueDate) {
        this.dueDateShow = isdueDate ? '' : '请填写到期时间';
      },
      isdataCreate: function (isdataCreate) {
        this.dataCreateShow = isdataCreate ? '' : '请填写创建时间';
      },
      iscreatorMan: function (iscreatorMan) {
        this.creatorManShow = iscreatorMan ? '' : '请填写该项';
      },
      IsassignToWho: function (IsassignToWho) {
        this.assignToWhoShow = IsassignToWho ? '' : '请填写该项';
      },
    },
    methods: {
      submitExcel: function () {
        if (this.isDisable() == 'submit') {
          setTimeout(function () {
            $("#cc-modal-mask").remove();   // 此命令是删除，删掉浮动窗口
            return false;
          }, 150);
        } //目前提交成功不能显示
      }
    },
    computed: {
      isDisable: function () {
        var disable;
        if (!this.tipsShow && !this.issueTalkShow && !this.dueDateShow && !this.dataCreateShow && !this.creatorManShow && !this.assignToWhoShow) {
          disable = 'submit';
        } else {
          disable = 'button';
        }
        return disable
      }
    }
  })
</script>